.AppContainer {
  width: 40vw;
  margin: 2em auto;
  background-color: rgb(53, 51, 51);
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.Header {
  text-align: center;
}

.Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}

.Tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Task {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
  margin-bottom: 30px;
}

.Icon {
  padding: 10px;
  margin-top: 10px;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: -10px;
}

.Icon:hover {
  background-color: rgb(58, 84, 159);
}