html {
  background-color: #684d8e;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

input {
  background-color: #2b2a2a;
  border: 1px solid #2b2a2a;
  width: 90%;
  padding: 10px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: 0.3s;
  color: rgb(255, 254, 254);
}

input:focus {
  background-color: #164f5c;
  border: 1px solid #beabd9;
  outline: none !important;
}

input::placeholder {
  opacity: .7;
  color: rgb(255, 254, 254);
}

hr {
  border-color: #494848;
}

button {
  width: 92%;
  padding: 10px;
  background-color: #684d8e;
  transition: 0.3s;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #6a518f;
  padding: 10px 5px;
  cursor: pointer;
}

button:hover {
  background-color: #28355c;
  border: 1px solid #f7f7f9;
}